<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wwr.demo.mapper.BatchInsertMapper">

<insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO STUDENT
    (
    STU_NUMBER, STU_NAME, STU_XB, STU_AGE
    )
    VALUES
    <foreach collection="list" item="item" index= "index" separator =",">
        (
         #{item.stu_number, jdbcType=NUMERIC},#{item.stu_name, jdbcType=VARCHAR},#{item.stu_xb, jdbcType=VARCHAR}, #{item.stu_age, jdbcType=NUMERIC}
        )
    </foreach>
</insert>
</mapper>